<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmApplication">
        <activity android:name=".getTransportsActivity">
            <intent-filter>
                <action android:name="com.example.myapplication.getTransportsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".postFieldsActivity">
            <intent-filter>
                <action android:name="com.example.myapplication.postFieldsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".postDataActivity">
            <intent-filter>
                <action android:name="com.example.myapplication.postDataActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".deleteDataActivity">
            <intent-filter>
                <action android:name="com.example.myapplication.deleteDataActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".patchActivity">
            <intent-filter>
                <action android:name="com.example.myapplication.patchActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".getContractsActivity">
            <intent-filter>
                <action android:name="com.example.myapplication.getContractsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".getFieldsActivity">
            <intent-filter>
                <action android:name="com.example.myapplication.getFieldsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".getFoodActivity">
            <intent-filter>
                <action android:name="com.example.myapplication.getFoodActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>